In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
621,tt0448157,150000000,624029371,Hancock,Will Smith|Charlize Theron|Jason Bateman|Jae H...,Peter Berg,Bad Behavior. Bad Attitude. Real Hero.,Hancock is a down-and-out superhero who's forc...,92,Fantasy|Action,Columbia Pictures|Weed Road Pictures|Forward P...,7/1/2008,6.0,2008
949,tt0270288,30000000,33013805,Confessions of a Dangerous Mind,Sam Rockwell|Drew Barrymore|Julia Roberts|Rutg...,George Clooney,Some things are better left top secret.,"Television made him famous, but his biggest hi...",113,Comedy|Crime|Drama|Romance|Thriller,Miramax Films|Allied Filmmakers|Mad Chance,12/30/2002,6.4,2002
1002,tt1446192,145000000,306941670,Rise of the Guardians,Chris Pine|Alec Baldwin|Jude Law|Isla Fisher|H...,Peter Ramsey,You better believe.,When an evil spirit known as Pitch lays down t...,97,Fantasy|Animation|Family,DreamWorks Animation,11/21/2012,6.9,2012
969,tt0279493,25000000,41604473,Undercover Brother,Eddie Griffin|Chris Kattan|Denise Richards|Aun...,Malcolm D. Lee,He's All Action,"An Afro-American organization, the B.R.O.T.H.E...",86,Action|Comedy,Universal Pictures,5/31/2002,5.4,2002
473,tt0872230,25000000,19829957,My Soul to Take,Max Thieriot|John Magaro|Denzel Whitaker|Zena ...,Wes Craven,Only One Has The Power To Save Their Souls,A serial killer returns to his hometown to sta...,107,Drama|Horror|Mystery|Thriller,Relativity Media|Rogue,10/8/2010,5.2,2010

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [22]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# ответ верный '+'

In [9]:
biggest_budget = data[(data.budget == data.budget.max())].original_title

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [23]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# ответ верный '+'

In [11]:
longest_movie = data[(data.runtime == data.runtime.max())].original_title

# 3. Какой из фильмов самый короткий (в минутах)?

In [24]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# ответ верный '+'

shortest_movie = data[(data.runtime == data.runtime.min())].original_title

# 4. Какова средняя длительность фильмов?

In [25]:
answers['4'] = '2. 110'
# ответ верный '+

average_movie_length = data.runtime.mean()

# 5. Каково медианное значение длительности фильмов?

In [26]:
answers['5'] = '1. 107'
# ответ верный '+'

film_time_median = data.runtime.median()

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [27]:
# лучше код получения столбца profit вынести в Предобработку что в начале

answers['6'] = '5. Avatar (tt0499549)'
# ответ верный '+'

# Для удобства создан столбик в таблице прибыль 'film_profit'
data['film_profit'] = data.revenue - data.budget
max_profit_film = data[(data.film_profit == data.film_profit.max())].original_title

# 7. Какой фильм самый убыточный?

In [28]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# ответ верный '+'

min_profit_film = data[(data.film_profit == data.film_profit.min())].original_title

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [29]:
answers['8'] = '1. 1478'
# ответ верный '+'

num_profit_movies = len(data[data.film_profit > 0])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [30]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# ответ верный '+'

# В коде ниже находим все фильмы снятые в 2008 годву. data.release_year == 2008
# Затем отбираем из них тот, кто заработал больше всего денег data[(data.release_year == 2008)].revenue.max()

max_revenue_2008 = data[(data.revenue == data[(data.release_year == 2008)].
                         revenue.max())].original_title

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [31]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# ответ верный '+'

# Ниже в коде находим все выпущенные фильмы с 2012 года по 2014 год (data.release_year >= 2012) & (data.release_year <= 2014)
# Потом из них выбираем который получил минимальную прибыль 
# data.film_profit == data[((data.release_year >= 2012) & (data.release_year <= 2014))].film_profit.min()

min_profit_movie = data[(data.film_profit == data[
    ((data.release_year >= 2012) & (data.release_year <= 2014))].film_profit.min())].original_title

# 11. Какого жанра фильмов больше всего?

In [32]:
answers['11'] = '3. Drama'
# ответ верный '+'

# Создаем пустой список all_movies_genrs
all_movies_genrs = []

# Ниже создаем функцию list_of_genrs
# Ее задача пройти по всей таблице фильмов в столбике genres
# разобрать строчку в столбике жанр на отдельные жанры по каждому фильму
# и собрать все жанры по каждому фильму в списке all_movies_genrs

def list_of_genrs(genres):
    genres_list = genres.split('|')
    for i in genres_list:
        all_movies_genrs.append(i)

data.genres.apply(list_of_genrs)

# используя библиотеку collections список all_movies_genrs
# превращается в словарь где жанр становится ключем, количество раз его в списке становится значением
# Плюс ключи сортируются по своим значением от самого большого
collections.Counter(all_movies_genrs)
print(collections.Counter(all_movies_genrs))

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [33]:
answers['12'] = '1. Drama'
# ответ верный '+'

# Создаем пустой список all_movies_genrs
all_movies_genrs = []

# Ниже фильтруем таблицу фильмов, чтоб остались тока те
# у которых прибыль больше 0 data.film_profit > 0
# Затем используя функцию list_of_genrs созданую в решении 11 задачи
# заполняем список all_movies_genrs всеми жанрами фильмов
data[(data.film_profit > 0)].genres.apply(list_of_genrs)

print(collections.Counter(all_movies_genrs))

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [34]:
answers['13'] = '5. Peter Jackson'
# ответ верный '+'

# Используя функцию groupby код собирает кассовые сборы фильмов суммарно
# по каждому режиссеру и затем сортирует в порядке убывания
successful_director = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
print(successful_director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. Robert Rodriguez'
# ответ верный '+'

# Первое используя ламбда функцию создаем в таблице столбик 'Action'
# в этом столбике каждый фильм который имеет жанр Action получает 1
# или 0 если жанра Action нет
data['Action'] = data.genres.apply(lambda x:1 if 'Action' in x else 0)

# Потом используя функцию groupby, код суммарно группирует столбик 'Action'
# по каждому режисеру в убывающем порядке
action_director = data.groupby(['director'])['Action'].sum().sort_values(ascending=False)

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
answers['15'] = '3. Chris Hemsworth'
# ответ верный '+'

# создаем словарь actors_dic
actors_dic = {}

# для облегчения решения задачи создаем столбик 'i_index' в таблице
# в котором находится индех номер каждого фильма
data['i_index'] = data.index

# функция actors_dictionary заполняет словарь actors_dic
# каждый актер становится ключем и сумарно кассовые сборы
# по каждому актеру становятся значением
def actors_dictionary(index):
    
    film_revenue = int(data.revenue[index])
    actors_sublist = data.cast[index].split('|')
    
    for actor in actors_sublist:
        if actor in actors_dic.keys():
            actors_dic[actor] += film_revenue
            
        else:
            actors_dic[actor] = film_revenue
            
    
# приеменяем функцию actors_dictionary по фильмам снятым 2012 году    
data[(data.release_year == 2012)].i_index.apply(actors_dictionary)

# используя функцию sorted код сортирует словарь actors_dic по значением
# от самого большого
actor_top_revenue = sorted(actors_dic.items(), key=lambda x: x[1], reverse = True)[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [37]:
answers['16'] = '3. Matt Damon'
# ответ верный '+'

# создаем словарь actors_dict
actors_dict = {}

# функция actors_dictionary_budget проверяет если бюджет фильма
# больше среднего бюджета фильма, если да то функция помещает
# сняaвшихся актеров в словарь actors_dict как ключи, а значение 
# увеличивается на 1
def actors_dictionary_budget(index):
    
    film_budget = int(data.budget[index])
    if film_budget > data.budget.mean():
        actors_sublist = data.cast[index].split('|')
        
        for actor in actors_sublist:
            if actor in actors_dict.keys():
                actors_dict[actor] += 1

            else:
                actors_dict[actor] = 1
            
    
data.i_index.apply(actors_dictionary_budget)

# код ниже сортирует словарь actors_dict по значениям от самого большого
actor_dict_sorted = sorted(actors_dict.items(), key=lambda x: x[1], reverse = True)

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = '2. Action'
# ответ верный '+'

# Создаем таблицу Nicolas_Cage_table в которой только фильмы где
# Nicolas Cage снимался
Nicolas_Cage_table =  data[data.cast.str.contains('Nicolas Cage', na=False)]
movie_genres_list = []

# Функция genres_list_make заполняет жанрами фильмов список movie_genres_list
def genres_list_maker(index):
    genres_sublist = Nicolas_Cage_table.genres[index].split('|')
    for word in genres_sublist:
        movie_genres_list.append(word)
        
Nicolas_Cage_table.i_index.apply(genres_list_maker)

# используя библиотеку collections список movie_genres_list
# превращается в словарь где жанр становится ключем, количество раз его в списке становится значением
# Плюс ключи сортируются по своим значением от самого большого
collections.Counter(movie_genres_list)
print(collections.Counter(movie_genres_list))

Counter({'Action': 17, 'Thriller': 15, 'Drama': 12, 'Crime': 10, 'Fantasy': 8, 'Adventure': 7, 'Comedy': 6, 'Science Fiction': 4, 'Mystery': 3, 'Animation': 3, 'Family': 3, 'History': 2, 'War': 1, 'Horror': 1, 'Romance': 1})

# 18. Самый убыточный фильм от Paramount Pictures

In [39]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# ответ верный '+'

# создаем paramount_table где только фильмы которые были сняты Paramount Pictures
paramount_table = data[data.production_companies.str.contains('Paramount Pictures', na=False)]

unprofitalbe_film = paramount_table[
    (paramount_table.film_profit == paramount_table.film_profit.min())].original_title

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [40]:
answers['19'] = '5. 2015'
# ответ верный '+'

# ниже код суммарно группирует кассовые сборы по годам и сортирует
# от самого большого кассового сбора
top_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

# 20. Какой самый прибыльный год для студии Warner Bros?

In [41]:
answers['20'] = '1. 2014'
# ответ верный '+'

# warner_table таблица в которой тольк фильмы снятые Warner Bros
warner_table = data[data.production_companies.str.contains('Warner Bros', na=False)]

# код ниже групперует из таблицы warner_table по годам суммарную прибыль
# и сортирует от самой большой прибыли до самой маленькой
warner_top_year = warner_table.groupby(['release_year'])['film_profit'].sum().sort_values(ascending=False)
print(warner_top_year)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: film_profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [42]:
answers['21'] = '4. Сентябрь'
# ответ верный '+'

# создаем пустой список films_per_month
films_per_month = []

# функция count_movies_monthly по каждому фильму достает месяц из даты выхода
# и добавляет номер месяца в список films_per_month
def count_movies_monthly(date):
    date = str(date)
    date_list = date.split('/')
    films_per_month.append(date_list[0])
    
data.release_date.apply(count_movies_monthly)

# используя библиотеку collections список films_per_month
# превращается в словарь где месяц становится ключем, количество раз его в списке становится значением
# Плюс ключи сортируются по своим значением от самого большого
month_counter = collections.Counter(films_per_month)
print(month_counter)

Counter({'9': 227, '12': 190, '10': 186, '8': 161, '3': 156, '4': 149, '6': 147, '11': 146, '7': 142, '5': 140, '2': 135, '1': 110})

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [43]:
answers['22'] = '2. 450'
# ответ верный '+'

# используя решение задачи 22 из словаря month_counter
# берутся нужные месяцы по ключу и складываются их значения
num_summer_movies = month_counter['6'] + month_counter['7'] + month_counter['8']

# 23. Для какого режиссера зима — самое продуктивное время года?

In [44]:
answers['23'] = '5. Peter Jackson'
# ответ верный '+'

# winter_table это таблица в которой собраны фильмы снятые в декабре, январе и феврале
winter_table = data[data.release_date.str.match(pat = '(12/)|(1/)|(2/)', na=False)]

# ниже код группирует winter_table по режиссерам суммирая снятые их фильмы
# и сортируя от самого продуктивного сверху
director_table = winter_table.groupby(['director'])['original_title'].count().sort_values(ascending=False)
print(director_table)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [45]:
answers['24'] = '5. Four By Two Productions'
# ответ верный '+'

# список company_list для хранения компаний
# список title_leng для хранения длины названия каждого фильма
company_list = []
title_leng = []

# dataFrame prod_table для хранения и обработки списков company_list и title_leng
prod_table = pd.DataFrame(columns=['prod_company', 'title_length'])

# функция film_title_length собирает названия компаний снявших фильм и длину названия
# и складывает их по спискам company_list и title_leng
def film_title_length(index):
    sub_list = data.production_companies[index].split('|')
    title_len = len(data.original_title[index]) - data.original_title[index].count(" ")
    for company in sub_list:
        company_list.append(company)
        title_leng.append(title_len)
                          

data.i_index.apply(film_title_length)

# ниже код загружает столбики в prod_table из списков company_list и title_leng
prod_table['prod_company'] = company_list
prod_table['title_length'] = title_leng

# ниже из таблицы prod_table группируется список по названию компаний и средней длине названия по буквам
# по каждой компании от самого большого среднего на верху
mean_title_length = prod_table.groupby(['prod_company'])['title_length'].mean().sort_values(ascending=False)
print(mean_title_length)

prod_company
Four By Two Productions       72.0
Jim Henson Company, The       50.0
Museum Canada Productions     39.0
Dos Corazones                 39.0
Polsky Films                  38.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Name: title_length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [46]:
answers['25'] = '3. Midnight Picture Show'
# ответ верный '+'

# список company_list для хранения компаний
# список words_in_title для хранения длины названия каждого фильма
company_list = []
words_in_title = []

# dataFrame company_and_title для хранения и обработки списков company_list и words_in_title
company_and_title = pd.DataFrame(columns=['company_list', 'words_in_title'])

# функция num_words_in_title собирает названия компаний снявших фильм и длину названия по словам
# и складывает их по спискам company_list и words_in_title
def num_words_in_title(index):
    sub_list = data.production_companies[index].split('|')
    num_of_words = len(data.overview[index].split(' '))
    
    for company in sub_list:
        company_list.append(company)
        words_in_title.append(num_of_words)
        

data.i_index.apply(num_words_in_title)

# ниже код загружает столбики в company_and_title из списков company_list и words_in_title
company_and_title['company_list'] = company_list
company_and_title['words_in_title'] = words_in_title

# ниже из таблицы company_and_title группируется список по названию компаний и средней длине названия по словам
# по каждой компании от самого большого среднего на верху
mean_num_of_words = company_and_title.groupby(['company_list'])['words_in_title'].mean().sort_values(ascending=False)

print(mean_num_of_words)

company_list
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: words_in_title, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [47]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# ответ верный '+'

# Ниже код используя функцию quantile фильтрует фильмы по рейтингу и оставляет только 1% лучших
best_movies = data[(data.vote_average > data.vote_average.quantile(0.99))].original_title

print(best_movies)

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [48]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# ответ верный '+'

# список actor_pairs для хранения пар актеров
actor_pairs = []

# функция actor_combinations используя библиотику itertools import combinations
# по каждому фильму собирает все комбинации актеров по два и сортируя добавляет их в actor_pairs
def actor_combinations(index):
    actors_sublist = data.cast[index].split('|')
    combs = combinations(actors_sublist, 2)
    
    for comb in combs:
        pair = sorted(list(comb))
        joined_pair = '_'.join(pair)
        actor_pairs.append(joined_pair)
    

data.i_index.apply(actor_combinations)

# используя библиотеку collections список actor_pairs
# превращается в словарь где пара актеров становится ключем, количество раз ее в списке становится значением
# Плюс ключи сортируются по своим значением от самого большого
actor_pairs_frquency = collections.Counter(actor_pairs)

ВАРИАНТ 2

# Submission

In [49]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'6': '5. Avatar (tt0499549)',
 '11': '3. Drama',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson'}

In [50]:
# и убедиться что ни чего не пропустил)
len(answers)

27